<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Generator" content="EditPlus®">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>margin</title>
</head>
<body>
<div class="slide-container">
    <ul>
        <li>
            <img src="./img/test.jpg" alt="">
            <h1>1</h1>
        </li>
        <li>
            <img src="./img/test.jpg" alt="">
            <h1>2</h1>
        </li>
        <li>
            <img src="./img/test.jpg" alt="">
            <h1>3</h1>
        </li>
        <li>
            <img src="./img/test.jpg" alt="">
            <h1>4</h1>
        </li>
        <li>
            <img src="./img/test.jpg" alt="">
            <h1>5</h1>
        </li>
    </ul>
    <div class="cursor">
        <div class = btn-group>
            <span class="prev"><img src="./img/prev.svg" alt=""></span>
            <span class="center"></span>
            <span class="next"><img src="./img/next.svg" alt=""></span>
        </div>
    </div>
</div>
</body>
</html>
